<h3><%= @user.username %></h3>
<% @user.meals.each.with_index do |meal, index| %>
  <p>Meal #<%= index + 1 %> <br> 
  <p><%= link_to meal.name, meal_path(meal) %></p>
  <p><%= meal.calories %> calories</p>
  <p><%= meal.notes %></p>
<% end %>